.good-btn {
    background-color: rgb(10, 173, 10);
}

.good-btn:hover {
    background-color: green;
}

.neutral-btn {
    background-color: orange;
}

.neutral-btn:hover {
    background-color: rgb(193, 128, 8);
}

.bad-btn {
    background-color: red;
}

.bad-btn:hover {
    background-color: rgb(199, 7, 7);
}

.feedback-options {
  margin-bottom: 20px;
}